.Home {
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 40vh;
    line-height: 2em;
  }
  
  .portrait-presentation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .portrait-presentation img{
    border: 10px solid #A2B6B2;
    border-radius: 50%;
    width: 15vw;
  }
  
  .full-desc {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
    text-align: justify;
    width: 60%;
  }
  
  .full-desc p {
    text-indent: 3em;
    text-justify: auto;
  }

  @media screen and (max-width: 420px) {
   .Home {
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 40vh;
    line-height: 2em;
  }
  
  .portrait-presentation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .portrait-presentation img{
    border: 10px solid #A2B6B2;
    border-radius: 50%;
    width: 15vw;
  }
  
  .full-desc {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
    text-align: justify;
    width: 60%;
  }
  
  .full-desc p {
    text-indent: 3em;
    text-justify: auto;
  } 
  }